.capsule-page-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.login-page-wrap {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
.dashboard-wrap {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.max-width-1000 {
  max-width: 1000px;
}
.welcome-text {
  font-size: 24px;
}
.user-info-text {
  font-size: 16px;
  margin-top: 20px;
}
